@model RemoteValidation
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<form asp-action="Index" asp-controller="Home" method="post">
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="Email"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="FirstName"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="LastName"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="PhoneNumber" class="control-label"></label>
                <input asp-for="PhoneNumber" class="form-control numberOnly" maxlength="10" style="width:70% !important;" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <input type="submit" value="Submit">
    </div>
</form>
@section scripts
{
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>

    <script>

        //For Phone Number validation with server side
        //just include this javascript code inside the common js at once and apply the numberonly class in phone number fields
        $(function () {
            jQuery.fn.ForceNumericOnly =
                function () {
                    return this.each(function () {
                        $(this).keydown(function (e) {
                            var IsCtrlKey = false;
                            var key = e.charCode || e.keyCode || 0;
                            console.log(key);
                            if (e.ctrlKey === true || e.metaKey === true) {
                                IsCtrlKey = true;
                            }
                            return (
                                key == 46 ||                //deleteKey
                                (key >= 35 && key <= 36) || //arrow keys
                                key == 14 ||                //ctrlKey
                                (key >= 37 && key <= 40) || //arrow keys
                                (key == 86 && IsCtrlKey) ||                //paste Key
                                (key == 67 && IsCtrlKey) ||               //copy Key
                                key == 8 ||
                                (key >= 48 && key <= 57) ||
                                (key >= 96 && key <= 105)
                            );
                        });
                    });
                };

            $(".numberOnly").ForceNumericOnly();

        });
    </script>
}